#bar{
    width: 300px;
}
@keyframes anim{
    from{
        width: 0px;
    }
    to{
        width: 280px;
    }
 }
 
 @keyframes anim1{
    from{
        width: 0px;
    }
    to{
        width: 300px;
    }
 }
 
 @keyframes anim2{
    from{
        width: 0px;
    }
    to{
        width: 230px;
    }
 }